.header {
  position: relative;
  font-size: var(--fs-body-lg);
  height: 100px;
  z-index: 900;
  background: var(--white);
  font-weight: 400;
  border-bottom: 1px solid #A8C9FB;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  div {
    font-size: 1rem;
    color: var(--primary-400);
    font-weight: 500;
    display: none;
  }

  @media screen and (max-width: 640px) {
    span {
      display: none;
    }
    div {
      display: block
    }
  }

}