.container {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.li a {
  flex-direction: column;
  padding: 8px 16px;
  align-items: center;
  box-shadow: var(--shadow-sm);
  font-weight: 300;
  border-radius: var(--radius-md);
  gap: .5rem;

  &:hover img {
    transform: scale(1.1);
    filter: grayscale(0);
  }
}

.image {
  width: 150px;
  height: 150px;
  overflow: hidden;

  img {
    filter: grayscale(0.3);
    transition: all 0.3s ease-in-out;
  }
}