.container {
    max-width: var(--screen-size);
    padding: var(--screen-padding);
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    transition: all 0.2s ease-in-out;
}