.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-700);

  h1 {
    --fs-h1: var(--fs-display-1);
    font-weight: 600;
  }

  h3 span {
    margin: 50px 0 110px;
    color: var(--secondary);
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bannerImage {
  width: 750px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/home_banner_bg.jpg");
}