@import 'common';

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply text-primary-400 bg-primary-25
}

body {
  @apply font-display text-black
}

.container {
  @apply transition
}

a {
  @apply transition
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  @apply text-[1.5rem] md:text-h1;
}

h2 {
  @apply md:text-h2 text-[1.25rem];
}

h3 {
  @apply md:text-h3;
}

h4 {
  @apply md:text-h4 text-[0.875rem];
}

h5 {
  @apply text-h5;
}

h6 {
  @apply text-h6;
}

.ripple {
  @apply absolute size-0.5 rounded-full animate-ripple bg-ripple -translate-x-1/2 -translate-y-1/2 transition
}

button:active {
  @apply scale-95 transition duration-100;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to bottom, #0c68f4, #428af6);
}

.default-input {
  position: relative;
  z-index: 3;

  & + span {
    @apply transition-all absolute z-[2] top-1/2 left-0 px-1 -translate-y-1/2 font-light
  }

  &:focus-within + span {
    @apply text-primary
  }

  &:focus-within + span, &:not(:placeholder-shown) + span {
    @apply text-body-xs -left-4 -top-1/2
  }
}

@media screen and (max-width: 767px) {
  .text-body-lg {
    @apply text-[1rem]
  }

  .text-body-md {
    @apply text-[0.875rem]
  }

  .text-body-sm {
    @apply text-[0.75rem]
  }

  .text-caption-lg, .text-caption-md {
    @apply text-caption
  }

  .text-caption-sm {
    @apply text-caption
  }

  .text-button-lg {
    @apply text-[0.875rem]
  }

  .text-button-sm {
    @apply text-[0.75rem]
  }

  .overline-lg, .overline-md {
    @apply text-overline
  }
}